.dropdown-menu {
    font-family: "Roboto", sans-serif;
    border: 1px solid var(--dropdown-border);
    display: inline-block;
    position: relative;
}

.dropdown-toggle {
    padding: 8px;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.dropdown-toggle::after {
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--dropdown-border);
    margin-left: 8px;
}

.dropdown-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -1px;
    width: 100%;
    background-color: #fff;
    border: 1px solid var(--dropdown-border);
    display: none;
}

.dropdown-option {
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
}

.dropdown-option:hover {
    background-color: var(--dropdown-options-background-on-hover);
}

.dropdown-menu:hover .dropdown-options {
    display: block;
}
