/* Button.css */
/* imports */
@import url('../../global-variables.css');

/* button class */
button {
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    border: none;
    padding: 15px 30px;
    color: #FFF;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
button:active {
    transform: translateY(-2px);
}

/* general buttons */
.general-button {
    background-color: var(--main-button-color);
}
.general-button:hover {
    background-color: var(--main-button-color-on-hover);
}

/* filter and sort */
.filter-sort-button {
    color: var(--main-text-color-black);
    text-decoration: underline;
    transition: color 0.3s ease;
    background-color: transparent;
    font-weight: 500;
    margin-right: -30px;
}

.filter-sort-button:hover {
    color: var(--main-text-color-black-on-hover);
}

/* the 'done' or 'completed' buttons */
.event-task-done-button {
    background-color: var(--done-button-color);
}
.event-task-done-button:hover {
    background-color: var(--done-button-color-on-hover);
}

.event-task-completion-button {
    background-color: var(--completed-button-color);
}
.event-task-completion-button:hover {
    background-color: var(--completed-button-color-on-hover);
}

/* general buttons when creating or updating events or tasks */
.event-task-general-button {
    background-color: var(--event-task-general-button);
    color: var(--main-text-color-black);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid var(--button-border-black);
}
.event-task-general-button:hover {
    background-color: var(--event-task-general-button-on-hover);
}

/* shaped buttons when creating or updating events or tasks */
.event-task-menu-button-circle {
    background-color: var(--event-task-menu-button);
    border: 1px solid var(--button-border-black);
    color: var(--main-text-color-black);
    border-radius: 25px;
    width: 38px;
    height: 38px;
    font-size: 32px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.event-task-menu-button-circle::before {
    margin-top: -2px;
    margin-right: -1px;
    content: "+";
}
.event-task-menu-button-circle:hover {
    background-color: var(--event-task-general-button-on-hover);
}
.event-task-menu-button-square {
    background-color: var(--event-task-menu-button);
    border: 1px solid var(--button-border-black);
    color: var(--main-text-color-black);
    border-radius: 5px;
    width: 38px;
    height: 38px;
    font-size: 32px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.event-task-menu-button-square::before {
    margin-top: -2px;
    margin-right: -1px;
    content: "+";
}
.event-task-menu-button-square:hover {
    background-color: var(--event-task-general-button-on-hover);
}

/* right pane menu buttons when creating or updating events or tasks */
.event-task-menu-button {
    background-color: var(--event-task-menu-button);
    color: var(--main-text-color-black);
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    letter-spacing: 1px;
    border-radius: 0;
    padding-right: 100px;
    font-size: 18px;
}
.event-task-menu-button:hover {
    background-color: var(--event-task-menu-button-on-hover);
}
.icon-space {
    padding: 0 20px;
}

/* back arrow */
.back-arrow {
    background-color: #FFF;
    background-image: url("../../assets/icons/arrow-bend-up-left.png");
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* search icon */
.search-button {
    background-color: #FFF;
    background-image: url("../../assets/icons/magnifying-glass.png");
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
}