/*Volunteer card */
.volunteer-option-content {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.volunteer-option {
    margin-right: 25px;
    margin-bottom: 10px;
}
.volunteer-option-header {
    margin-bottom: 10px;
    color: var(--task-option-headers);
}
.profile-volunteer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--button-border-black);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-icon {
    opacity: 0.6;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext {
    padding: 5px 5px 5px 5px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}