.profile-page {
    background-color: var(--profile-background-light-green);
}

/* Form */
.form-outer-container {
    position: relative;
}
.form-top-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    height: 200px;
    position: absolute;
    left: 20px;
    top: 20px;
    gap: 30px;
    z-index: 1;
}
.form-top-options-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.main-label-newsletter {
    font-family: var(--main-font-roboto);
    color: var(--task-option-headers);
    font-weight: bolder;
}
.radio-group-newsletter {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.radio-options-newsletter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.newsletter-choice {
    display: flex;
    gap: 5px;
}

.profile-index {
    z-index: 1;
}

.form-inner-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.profile-form-wrapper {
    position: relative;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.profile-top-margin {
    margin-top: 280px;
}

.profile-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.profile-label {
    width: 14%;
    margin-left: 100px;
}

.form-divider {
    height: 600px;
    border-left: 1px solid;
    color: lightgrey;
    margin-top: 57px;
    margin-right: 15px;
}

.form-inputs > .input-field {
    margin-bottom: 20px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid var(--main-theme-dark-green);
}

.full-width-textarea {
    width: 75%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid var(--main-theme-dark-green);
}

/* Security card*/
.security-header {
    color: var(--task-title);
    font-family: 'Roboto Mono', monospace;
}

.h3-headers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 150px;
}
.security-h3-authority h3:hover {
    transform: translateY(-2px);
    cursor: pointer;
}
.password-line {
    width: 90%;
}