/* Security */
.profile-security {
    top: 280px;
    right: 0;
    width: 100%;
    height: 300px;
    padding: 20px 0 20px 230px;
}

.password-outer-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.password-inner-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.password-content {
    display: flex;
    flex-direction: column;
}

.requirements-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.password-card-label {
    width: 30%;
}

.save-password {
    width: 150px;
    align-self: flex-end;
}

.role-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.password-error {
    border-color: red !important;
}

.success-message-password {
    color: green;
    padding-left: 30px;
}