/* Security */
.profile-security {
    position: absolute;
    top: 280px;
    right: 0;
    width: 480px;
    height: 260px;
}

.password-outer-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.password-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.requirements-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.save-password {
    width: 150px;
    align-self: flex-end;
}

.role-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}