.outer-container-forrealzies {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.outer-content-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.inner-content-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.main-container {
    background-color: var(--main-tasks-background-color);
    border-top: 1px solid var(--main-top-border-black);
}


.main-container-tasks {
    display: flex;
    flex-direction: row;
    /*Dit gaat nu over height, want de parent is een flex-column. Dus we zeggen nu dat de hoogte "auto" moet zijn*/
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.show-more-container {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
}