:root {
    /* Font Families */
    --main-font-roboto: 'Roboto', sans-serif;
    --main-font-roboto-mono: 'Roboto Mono', monospace;

    /* Text */
    --task-title: rgba(0, 0, 0, 0.8);
    --task-option-headers: rgba(0, 0, 0, 0.6);

    /* Tasks Page */
    --main-tasks-background-color: hsl(0, 100%, 98%);
    --main-top-border-black: hsla(0, 0%, 0%, 0.5);
    --main-task-card-completed: hsl(0, 0%, 94%);

    /*Task*/
    --main-task-content-background: hsla(0, 0%, 95%, 0.8);
    --main-task-content-border: rgba(0, 0, 0, 0.2);

    /* Main theme green*/
    --main-theme-dark-green: hsl(179, 66%, 39%);
    --main-theme-light-green: hsl(168, 41%, 79%);

    /* Button styling */
    --main-button-color: #FA7788;
    --main-button-color-on-hover: #008D86;
    --done-button-color: #00A2ED;
    --done-button-color-on-hover: hsl(198, 100%, 40%);
    --completed-button-color: #78919C;
    --completed-button-color-on-hover: hsl(197, 18%, 50%);
    --event-task-general-button: #E3E6EA;
    --event-task-general-button-on-hover: hsl(0, 0%, 80%);
    --event-task-menu-button-on-hover: #D9D9D9;
    --event-task-menu-button: hsla(0, 0%, 85%, 0.5);
    --button-border-black: hsl(0, 0%, 80%);

    /* global text */
    --main-text-color-black: hsl(0, 0%, 30%);
    --main-text-color-black-on-hover: hsl(0, 0%, 50%);

    /* dropdown menu */
    --dropdown-border: hsl(0, 0%, 50%);
    --dropdown-options-background-on-hover: hsl(0, 0%, 95%);
}